@import "partials/base";
@import "partials/variables";
@import "partials/normalize";
@import "../../bower_components/normalize-scss/sass/normalize";
@import "font-awesome";

@include normalize();

body {
  background-color: white;
  color: black;
}

#navigation-menu {
  display: inline-block;
  padding-top: 12px;
  > a {
    color: black;
    padding: 5px 15px;
    margin-left: 1.5em;
    text-align: center;
    font-weight: 600;
  }
}

a.active {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(195, 192, 197);
  border-radius: 3px;
  background-color: $active-nav-color;
}

.intern-list, span.footer-links {
  color: $link-color;
  text-decoration: none;
  font-size: 10pt;
}

#intern-link-list li {
  list-style-type: none;
  margin-left: 10px;
}

li.intern-list:before {
  content: "\203A";
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 5px;
  color: $link-color;
}

a.mail, a:visited {
  color: $link-color;
  text-decoration: none;
}

a, abbr.mandatory {
  color: $link-color;
  text-decoration: none;
}

body, button {
  font-family: $body-font;
}

h2 {
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 0.563;
  letter-spacing: 1px;
}

p.quote {
  font-family: $quote-font;
  font-style: italic;

  font-size: 17px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
  margin-top: -15px;
  margin-bottom: -15px;
}

section {
  > p {
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 26px;
    text-align: left;
  }
}

button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: $button-text-color;
  background-color: $button-color;
}

#timestamp {
  margin-top: 20px;
  margin-bottom: -20px;
}

.date {
  color: $date-color;
}

.exozet-footer {
  float: left;
}

.right-element {
  float: right;
}

.done {
  clear: both;
}

.alert {
  color: $alert-text-color !important;
  font-family: $alert-font !important;
  font-size: 10pt;
  text-decoration: none;
}

input, textarea {
  //width: 100%;
  border-radius: 3px;
}

// form elements
//form {
//  > div {
//    > div {
//      > ul.input-elements {
//        > li.input-wrapper {
//          > input[type="text"],
//          > input[type="email"],
//          > textarea {
//            line-height: 28px;
//            display: inline-block;
//
//            &:invalid:not(:focus) {
//              background: white;
//            }
//
//            &:valid:focus {
//              background: url(../../dist/img/check.svg);
//              background-size: 20px;
//              background-repeat: no-repeat;
//              background-position: 5px 3px;
//
//            }
//
//            &:invalid:focus {
//              background: url(../../dist/img/cross.svg);
//              background-size: 20px;
//              background-repeat: no-repeat;
//              background-position: 5px 3px;
//            }
//          }
//        }
//      }
//    }
//  }
//}

//input {
//  line-height: 28px;
//  display: inline-block;
//  border: 1px solid;
//
//  &:focus {
//    &:valid {
//      background: url(../../dist/img/check.svg);
//      background-size: 20px;
//      background-repeat: no-repeat;
//      background-position: 5px 3px;
//    }
//    &:invalid {
//      background: url(../../dist/img/cross.svg);
//      background-size: 20px;
//      background-repeat: no-repeat;
//      background-position: 5px 3px;
//    }
//  }
//}

label {
  line-height: 28px;
  display: inline-block;
  white-space: pre-wrap;
  text-align: right;
}

.text-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.input-elements li {
  display: block;
  text-decoration: none;
}

hr {
  background-color: rgb(195, 192, 197);
}

#submit-button {
  font-size: 14px;
  color: $button-text-color;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 3px 15px;
  border-color: $teaser-frame-color;

  background: $button-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($button-lighter-color, $button-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($button-lighter-color, $button-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($button-lighter-color, $button-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient($button-lighter-color, $button-color); /* Standard syntax */
}

#teaser-button {
  font-size: 14px;
  display: block !important;
  text-align: center;
  width: 100%;
  box-shadow: 1px 1px #888888;
  border-width: 1px;
  border-color: rgb(195, 192, 197);
  color: $button-text-color;
  padding: 3px;

  background: $button-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($button-lighter-color, $button-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($button-lighter-color, $button-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($button-lighter-color, $button-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient($button-lighter-color, $button-color); /* Standard syntax */
}

.leistungsumfang {
  font-size: 14px;
  font-family: "Titillium Web";
  color: rgb(51, 51, 51);
  line-height: 1.429;
  text-align: left;
}

.text-fields {
  margin-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(195, 192, 197);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  width: 300px;
  height: 28px;
}

.commentary-field {
  margin-left: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(195, 192, 197);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  width: 300px;
  height: 98px;
  resize: none;
}

.leistungsumfang-label {
  //  font-size: 14px;
  color: rgb(51, 51, 51);
  //  line-height: 3;
  text-align: right;
  //  position: absolute;
  //  left: 169.117px;
  //  top: 981.25px;
  width: 75px;
  //  height: 137px;
  //  z-index: 31;
}

.input-wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
}

.block label {
  display: inline-block;
  width: 140px;
  line-height: 3;
  text-align: right;
}

//teaser

#teaser-frame {
  margin-top: 10px;
  background-color: $teaser-frame-color;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
  width: 100%;
  height: 221px;
}

#teaser-image {
  width: 100%;
}

#teaser-content {
  padding: 5px 12px;

}

#teaser-text {
  padding-bottom: 5px;
}

// sidebar
.sidebar-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#article-image {
  float:left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

#image-copyright {
  color: $date-color;
  font-size: 12px;padding-left: 5px;
}

#headline {
  padding-bottom: 20px;
}

#formular {
  margin-top: 30px;
}
