[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

// responsive design media queries
@media only screen and (min-width: 30em) {
  .wrapper {
    width: 100%;
    max-width: 65em;
  }

  .column-1 {
    width: 8.33333%;
  }

  .column-2 {
    width: 16.66667%;
  }

  .column-3 {
    width: 25%;
  }

  .column-4 {
    width: 33.33333%;
  }

  .column-5 {
    width: 41.66667%;
  }

  .column-6 {
    width: 50%;
  }

  .column-7 {
    width: 58.33333%;
  }

  .column-8 {
    width: 66.66667%;
  }

  .column-9 {
    width: 75%;
  }

  .column-10 {
    width: 83.33333%;
  }

  .column-11 {
    width: 91.66667%;
  }

  .column-12 {
    width: 100%;
  }
}

// responsive navigation menu

// hide other menu if screen size is smaller than 681px
@media screen and (max-width: 680px) {
  ul.navigation {
    li {
      display: none;
    }

    li.menu-trigger {
      float: right;
      display: inline-block;
    }
  }
}

// for handling created "responsive" class
@media screen and (max-width: 680px) {
  ul.navigation.responsive {
    position: relative;

    > li {
      &.menu-trigger {
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 0;
      }

      > a {
        display: block;
        text-align: left;
      }

      float: none;
      display: inline;
    }
  }
}

// TODO: responsive design for extra-small device (<=320px) e.g. iPhone5
@media screen and (max-width: 320px) {
  // smaller exozet logo and navigation menu font size
  #header-logo {
    width: 100px;
    padding-top: 10px !important;
  }

  ul.navigation {
    > li {
      > a {
        font-size: 10px !important;
      }
    }
  }

  // smaller h2 text
  h2 {
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 0.5;
    letter-spacing: 1px;
    font-size: 15pt;
    word-break: break-all;
    word-wrap: break-word;
  }

  // less whitespace for quote, remove these classes in general
  // margin-bottom of formular
  .rm-responsive {
    display: none;
  }

  // article image has no float, make it centered instead
  #article-image, #inner-image, .image-copyright {
    display: block;
    float: none !important;
    margin-left: auto;
    margin-right: auto;

    padding: inherit !important;
  }

  #after-image {
    margin-top: 10px;
  }

  // resize elements in form
  .block label {
    text-align: left !important;
  }

  .input-wrapper {
    display: block !important;

    > input.text-fields, textarea.commentary-field {
      margin-left: inherit !important;
      width: 100% !important;
    }
  }

  // make image and button in image teaser smaller
  #teaser-frame {
    height: inherit !important;
  }

  // footer
  .exozet-footer, span.footer-links {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    text-align: center;
  }

  span.footer-links {
    > * {
      font-size: 18px;
      padding-top: 0;
    }
  }

  .exozet-footer {
    padding-bottom: 5px;
  }
  .exozet-footer-links {
    padding-top: 0;
  }
}

// TODO: responsive design for small device (<=450px)
@media screen and (max-width: 450px) {
  .rm-responsive {
    display: none;
  }

  // article image has no float, make it centered instead
  #article-image, #inner-image, p#image-copyright {
    display: block;
    float: none !important;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: inherit !important;
  }

  #after-image {
    margin-top: 10px;
  }

  p#image-copyright {
    text-align: center;
  }

  .block label {
    text-align: left !important;
  }

  .input-wrapper {
    display: block !important;
    float:left !important;
    -webkit-box-sizing: border-box !important; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box !important;    /* Firefox, other Gecko */
    box-sizing: border-box !important;

    input.text-fields{
      margin-left: inherit !important;
      width: 100% !important;
      max-width: 20em !important;
    }

    textarea {
      margin-left: inherit !important;
      width: 100% !important;
      max-width: 21em !important;
    }
  }

  // make image and button in image teaser smaller
  #teaser-frame {
    height: inherit !important;
  }

  // footer
  .exozet-footer, span.footer-links {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    text-align: center;
  }

  span.footer-links {
    > * {
      font-size: 18px;
      padding-top: 0;
    }
  }

  .exozet-footer {
    padding-bottom: 5px;
  }
  .exozet-footer-links {
    padding-top: 0;
  }
}

// TODO: responsive design for tablet and laptop (<=768px)

// TODO: responsive design for desktop (>768px)

