[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.wrapper:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

// responsive design media queries
@media only screen and (min-width: 30em) {
  .wrapper {
    width: 100%;
    max-width: 65em;
  }

  .column-1 {
    width: 8.33333%;
  }

  .column-2 {
    width: 16.66667%;
  }

  .column-3 {
    width: 25%;
  }

  .column-4 {
    width: 33.33333%;
  }

  .column-5 {
    width: 41.66667%;
  }

  .column-6 {
    width: 50%;
  }

  .column-7 {
    width: 58.33333%;
  }

  .column-8 {
    width: 66.66667%;
  }

  .column-9 {
    width: 75%;
  }

  .column-10 {
    width: 83.33333%;
  }

  .column-11 {
    width: 91.66667%;
  }

  .column-12 {
    width: 100%;
  }
}

// responsive navigation menu

// hide other menu if screen size is smaller than 681px
@media screen and (max-width: 680px) {
  ul.navigation {
    li {
      display: none;
    }

    li.menu-trigger {
      float: right;
      display: inline-block;
    }
  }
}

// for handling created "responsive" class
@media screen and (max-width: 680px) {
  ul.navigation.responsive {
    position: relative;

    > li {
      &.menu-trigger {
        font-size: 15px;
        position: absolute;
        right: 0;
        top: 0;
      }

      > a {
        display: block;
        text-align: left;
      }

      float: none;
      display: inline;
    }
  }
}