@import url('https://fonts.googleapis.com/css?family=Merriweather|Titillium+Web');

// colors
$button-color: #738f23;
$link-color: rgb(115, 144, 36);
$button-text-color: #fff;
$date-color: #999999;
$alert-text-color:#e30042;

// fonts
$body-font: 'Titillium Web';
$quote-font: 'Merriweather', serif;
$alert-font: 'Verdana', regular;